<!--Index-->
<template name="dental_treatment">
    <!--Info-->
    <div class="bs-callout bs-callout-info">
        <!--<h4>Patient Info</h4>-->
        Register ID: {{_id}} | Date: {{registerDate}}<br>
        Patient ID: {{patientId}} | Name: {{_patient.name}} | Gender: {{_patient.gender}}
        <img src="{{_patient.photoUrl}}" class="img-circle" width="50px" height="50px">
    </div>

    <p>
    <button type="button" class="btn btn-primary insert">{{fa "plus"}} Add New</button>
    </p>

    {{> tabular table=Dental.TabularTable.Treatment selector=selector class="table table-striped table-bordered table-condensed table-hover"}}
</template>

<!--Action-->
<template name="dental_treatmentAction">
    {{#tabularAction}}
        <li><a href="#" class="update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="dental_treatmentInsert">
    {{#autoForm collection=Dental.Collection.Treatment id="dental_treatmentInsert" type="insert"}}
        <div class="row">
            <div class="col-md-6">
                {{> afQuickField name="patientId" type="hidden" value=patientId}}
                {{> afQuickField name="registerId"  type="hidden" value=_id}}

                <!--{{> afQuickField name="doctorId"}}-->
                <div class="form-group{{#if afFieldIsInvalid name='doctorId'}} has-error{{/if}}">
                    <label class="control-label" for="doctorId">Doctor</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='doctorId'}}
                        <span class="input-group-addon">
                            <a href="#" class="doctorAddon">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='doctorId'}}
                        <span class="help-block">{{afFieldMessage name='doctorId'}}</span>
                    {{/if}}
                </div>

                {{> afQuickField name="treatmentDate"}}
                {{> afQuickField name="attachFile"}}

            </div>
            <div class="col-md-6">
                {{> afQuickField name="des" rows=5}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<!--Update-->
<template name="dental_treatmentUpdate">
    {{#autoForm collection=Dental.Collection.Treatment doc=this id="dental_treatmentUpdate" type="update"}}
        <div class="row">
            <div class="col-md-6">
                <!--{{> afQuickField name="patientId"}}-->
                <div class="form-group{{#if afFieldIsInvalid name='patientId'}} has-error{{/if}}">
                    <label class="control-label" for="patientId">Patient</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='patientId'}}
                        <span class="input-group-addon">
                            <a href="#" class="patientAddon">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='patientId'}}
                        <span class="help-block">{{afFieldMessage name='patientId'}}</span>
                    {{/if}}
                </div>

                <!--{{> afQuickField name="registerId"}}-->
                <div class="form-group{{#if afFieldIsInvalid name='registerId'}} has-error{{/if}}">
                    <label class="control-label" for="registerId">Register</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='registerId'}}
                        <span class="input-group-addon">
                            <a href="#" class="registerAddon">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='registerId'}}
                        <span class="help-block">{{afFieldMessage name='registerId'}}</span>
                    {{/if}}
                </div>

                {{> afQuickField name="treatmentDate"}}

                <!--{{> afQuickField name="doctorId"}}-->
                <div class="form-group{{#if afFieldIsInvalid name='doctorId'}} has-error{{/if}}">
                    <label class="control-label" for="doctorId">Doctor</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='doctorId'}}
                        <span class="input-group-addon">
                            <a href="#" class="doctorAddon">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='doctorId'}}
                        <span class="help-block">{{afFieldMessage name='doctorId'}}</span>
                    {{/if}}
                </div>

            </div>
            <div class="col-md-6">
                {{> afQuickField name="des" rows=5}}
                <!--{{> afQuickField name="attachFile"}}-->
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<!--Show-->
<template name="dental_treatmentShow">
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{_id}}</dd>
        <dt>Treatment Date</dt>
        <dd>{{treatmentDate}}</dd>
        <dt>Patient</dt>
        <dd>{{patientId}}</dd>
        <dt>Register</dt>
        <dd>{{registerId}}</dd>
        <dt>Doctor</dt>
        <dd>{{doctorId}}</dd>
        <dt>Description</dt>
        <dd>{{des}}</dd>
        <!--<dt>File</dt>-->
        <!--<dd><img src="{{attachFileUrl}}" class="img-thumbnail" width="50px" height="50px"></dd>-->
    </dl>
</template>