<template name="dental_navbar">
    <ul class="nav navbar-nav">

        <li class="{{isActiveRoute name='dental.home'}}"><a href="{{pathFor 'dental.home'}}">Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Data <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="{{isActiveRoute name='dental.patient'}}"><a href="{{pathFor 'dental.patient'}}">Patient</a>
                </li>
                <li class="{{isActiveRoute name='dental.register'}}">
                    <a href="{{pathFor 'dental.register'}}">Register</a>
                </li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Quotation</li>
                <li class="{{isActiveRoute name='dental.quotation'}}">
                    <a href="{{pathFor 'dental.quotation'}}">Quotation</a>
                </li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Purchase</li>
                <li class="{{isActiveRoute name='dental.purchase'}}">
                    <a href="{{pathFor 'dental.purchase'}}">Purchase</a>
                </li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Payment</li>
                <li class="{{isActiveRoute name='dental.payment'}}">
                    <a href="{{pathFor 'dental.payment'}}">Payment</a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Reports <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="{{isActiveRoute name='dental.invoiceReport'}}"><a
                        href="{{pathFor 'dental.invoiceReport'}}">Invoice</a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Setting <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="{{isActiveRoute name='cpanel.exchange'}}">
                    <a href="{{pathFor 'cpanel.exchange'}}">Exchange</a>
                </li>

                <li class="{{isActiveRoute name='dental.staff'}}">
                    <a href="{{pathFor 'dental.staff'}}">Staff</a>
                </li>
                <li class="{{isActiveRoute name='dental.doctor'}}">
                    <a href="{{pathFor 'dental.doctor'}}">Doctor</a>
                </li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Disease</li>
                <li class="{{isActiveRoute name='dental.diseaseCategory'}}">
                    <a href="{{pathFor 'dental.diseaseCategory'}}">Category</a>
                </li>
                <li class="{{isActiveRoute name='dental.diseaseItem'}}">
                    <a href="{{pathFor 'dental.diseaseItem'}}">Item</a>
                </li>
                <li class="{{isActiveRoute name='dental.diseaseHistory'}}">
                    <a href="{{pathFor 'dental.diseaseHistory'}}">History</a>
                </li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Order</li>
                <li class="{{isActiveRoute name='dental.supplier'}}">
                    <a href="{{pathFor 'dental.supplier'}}">Supplier</a>
                </li>
                <li class="{{isActiveRoute name='dental.orderCategory'}}">
                    <a href="{{pathFor 'dental.orderCategory'}}">Category</a>
                </li>
                <li class="{{isActiveRoute name='dental.orderItem'}}">
                    <a href="{{pathFor 'dental.orderItem'}}">Item</a>
                </li>
            </ul>
        </li>
    </ul>
</template>
