<!--Index-->
<template name="dental_orderItem">
    <div class="animated bounceInRight">
        <p>
            <button class="btn btn-primary insert">{{fa "plus"}} Add New</button>
        </p>
        {{> tabular table=Dental.TabularTable.OrderItem class="table table-responsive table-striped table-bordered table-condensed table-hover"}}
    </div>
</template>

<!--Action-->
<template name="dental_orderItemAction">
    {{#tabularAction}}
        <li><a href="#" class="update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="dental_orderItemInsert">
    {{#autoForm collection=Dental.Collection.OrderItem id="dental_orderItemInsert" type="insert"}}
        <div class="row">
            <div class="col-md-6">

                <div class="form-group{{#if afFieldIsInvalid name='orderCategoryId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="orderCategoryId">Order Category</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='orderCategoryId'}}
                        <span class="input-group-btn">
                            <a href="#" class="orderCategoryAddon btn btn-default">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='orderCategoryId'}}
                        <span class="help-block">{{afFieldMessage name='orderCategoryId'}}</span>
                    {{/if}}
                </div>

                {{> afQuickField name="name"}}
            </div>
            <div class="col-md-6">
                {{> afQuickField name="price"}}
                {{> afQuickField name="unit"}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<!--Update-->
<template name="dental_orderItemUpdate">
    {{#autoForm collection=Dental.Collection.OrderItem id="dental_orderItemUpdate"  doc=this type="update"}}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group{{#if afFieldIsInvalid name='orderCategoryId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="orderCategoryId">Order Category</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='orderCategoryId'}}
                        <span class="input-group-btn">
                            <a href="#" class="orderCategoryAddon btn btn-default">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='orderCategoryId'}}
                        <span class="help-block">{{afFieldMessage name='orderCategoryId'}}</span>
                    {{/if}}
                </div>
                {{> afQuickField name="name"}}
            </div>
            <div class="col-md-6">
                {{> afQuickField name="price"}}
                {{> afQuickField name="unit"}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<!--Show-->
<template name="dental_orderItemShow">
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{_id}}</dd>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Unit</dt>
        <dd>{{unit}}</dd>
        <dt>Order Category</dt>
        <dd>{{_orderCategory.name}}</dd>
    </dl>
</template>
