<template name="dental_registerTip">
  <button class="btn btn-info pull-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    {{fa "lightbulb-o"}} Tips
  </button>
  <p>
      <div class="collapse" id="collapseExample">
        <div class="bs-callout bs-callout-info" id="callout-overview-not-both">
<h4>{{fa "lightbulb-o"}} គន្លឹះ</h4>
            <hr>
            <ul>

                <li class="space-li">ប៊ូតុង​​ <button class="btn btn-xs btn-primary">{{fa "plus"}} Add New</button> សំរាប់ធ្វើការចុះឈ្មោះអ្នកជំងី</li>
                <li class="space-li">រូប {{fa "list"}} សំរាប់ធ្វើការកែប្រែឬលុបនិងបង្ហាញពត៍មានអ្នកជំងឺ</li>
                <li class="space-li">រូប {{fa "print"}} សំរាប់ធ្វើការព្រីនរាល់វិក្កយបត្រអ្នកជំងឺ</li>
                <li class="space-li">ចុចប៊ូតុង​​ <button class="btn btn-xs btn-default">Active</button> ដើម្បីបញ្ជាក់ថាអ្នកជំងឺបានធ្វើការព្យាបាលរួចរាល់</li>
                <li class="space-li">ចុចប៊ូតុង​​ <button class="btn btn-xs btn-default">Close</button> សម្រាប់ផ្លាស់ប្តូរ <b>Status</b> ទៅជា <button class="btn btn-xs btn-default">Active</button> ដើម្បីអោយអ្នកជំងឺអាចបន្តការ <b>T+,D+,A+</b></li>
                <li class="space-li">ប៊ូតុង​​ <button class="btn btn-xs btn-default">0</button> នៅក្រោមអក្សរ <b>T+​</b> សំរាប់ធ្វើការចុះព៍តមានព្យាបាលអ្នកជំងឺ</li>
                <li class="space-li">ប៊ូតុង​​ <button class="btn btn-xs btn-default">0</button> នៅក្រោមអក្សរ <b>D+​</b> សំរាប់ធ្វើការចុះព៍តមានប្រាក់កក់អ្នកជំងឺ</li>
                <li class="space-li">ប៊ូតុង​​ <button class="btn btn-xs btn-default">0</button> នៅក្រោមអក្សរ <b>A+​</b> សំរាប់ធ្វើការចុះព៍តមានណាត់ជួបព្យាបាលអ្នកជំងឺ</li>
                <li class="space-li">ប៊ូតុង​​ <button class="btn btn-xs btn-default">0</button> នៅក្រោមអក្សរ <b>P+​</b> សំរាប់ធ្វើការចុះព៍តមានបង់ប្រាក់អ្នកជំងឺ</li>

            </ul>
            <h4>{{fa "star-o"}} ចំណាំ</h4>
            <hr>
            <ul>
                <li class="space-li">ប្រសិនបើមានប៊ូតុង​​ <button class="btn btn-xs btn-default">Close</button> នៅក្រោមអក្សរ <b>Status</b> ទើបលោកអ្នកអាចចុចលើប៊ូតុង​​ <button class="btn btn-xs btn-default">0</button> ដើម្បីចុះព៍តមាននៃការបង់ប្រាក់របស់អ្នកជំងឺ ប៉ុន្តែលោកអ្នកមិនអាចចុចរាល់ប៊ូតុង <button class="btn btn-xs btn-default">Close</button> ដែលនៅខាងក្រោមអក្សរ <b>T+,A+,D+</b> ដើម្បីកែប្រែ ឬ លុបព៍តមានរបស់អ្នកជំងឺបានទេ !</li>
                <li class="space-li">ចុច Click លើ Mouse​ ខាងឆ្វេង​ទៅលើរាល់ប៊ូតុង​នៅក្រោមអក្សរ <b>T+,A+,D+,P+​</b> ដើម្បីចូលទៅកន្លែងចុះព័តមានភ្លាមៗ !</li>
                <li class="space-li">ចុច <kbd>ctrl</kbd> + Click លើ Mouse​ ខាងឆ្វេង​ទៅលើរាល់ប៊ូតុង​នៅក្រោមអក្សរ <b>T+,A+,D+,P+​</b> ដើម្បីចូលទៅកន្លែង List ព័តមាន !</li>
            </ul>
</div>
      </div>
    </p>
</template>
