<template name="dental_registerInfo">
  <button class="btn btn-info pull-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    {{fa "info-circle"}} Infomation
  </button>
  <p>
      <div class="collapse" id="collapseExample">
        <div class="bs-callout bs-callout-info" id="callout-overview-not-both">
          <h4>{{fa "sticky-note"}} Register</h4>
            <hr>
            <ul>
                <li class="space-li"><strong>ID:</strong> {{_id}}</li>
                <li class="space-li"><strong>Register Date:</strong> {{registerDate}}</li>
                <li class="space-li"><strong>Description:</strong> {{des}}</li>
            </ul>
            <h4>{{fa "user"}} Patient</h4>
            <hr>
            <ul>
              <li class="space-li"><strong>Patient ID:</strong> {{patientId}}</li>
              {{#with _patient}}
                  <li class="space-li"><strong>Name:</strong> {{name}}</li>
                  <li class="space-li"><strong>Gender:</strong> {{gender}}</li>
                  <li class="space-li"><strong>Age:</strong> {{age}}</li>
                  <li class="space-li"><strong>Occupation:</strong> {{occupation}}</li>
                  <li class="space-li"><strong>Address:</strong> {{address}}</li>
                  <li class="space-li"><strong>History:</strong> {{historyVal}}</li>
                  <li class="space-li"><strong>Member:</strong> {{member}}</li>
                  <li class="space-li"><strong>Photo:</strong> {{lightbox url=photoUrl title=name}}</li>
              {{/with}}
            </ul>
</div>
      </div>
    </p>
</template>
