<!--Index-->
<template name="dental_register">
    <div class="animated bounceInRight">
        <p>
            <button class="btn btn-primary insert">{{fa "plus"}} Add New</button>
            <!--Register Tip-->
            {{> dental_registerTip}}
        </p>

        {{> tabular table=Dental.TabularTable.Register selector=selector class="table table-striped table-bordered table-condensed table-hover"}}
    </div>
</template>

<!--Action-->
<template name="dental_registerAction">
    {{#tabularAction }}
        <li><a href="#" class="update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Status-Link-Action-->
<template name="dental_statusLinkAction">
    <button type="button" class="btn btn-default btn-sm statusAction">{{status}}</button>
</template>

<!--Treatment-Link-Action-->
<template name="dental_treatmentLinkAction">
    <button type="button" class="btn btn-default btn-sm treatmentAction">
        {{#if _treatmentCount}}
            {{_treatmentCount}}
        {{else}}
            0
        {{/if}}
    </button>
</template>
<!--Appointment-Link-Action-->
<template name="dental_appointmentLinkAction">
    <button type="button" class="btn btn-default btn-sm appointmentAction">
        {{#if _appointmentCount}}
            {{_appointmentCount}}
        {{else}}
            0
        {{/if}}
    </button>
</template>
<!--Deposit-Link-Action-->
<template name="dental_depositLinkAction">
    <button type="button" class="btn btn-default btn-sm depositAction">
        {{#if _depositCount}}
            {{_depositCount}}
        {{else}}
            0
        {{/if}}
    </button>
</template>
<!--Payment-Link-Action-->
<template name="dental_paymentLinkAction">
    <button type="button" class="btn btn-default btn-sm paymentAction">
        {{#if _paymentCount}}
            {{_paymentCount}}
        {{else}}
            0
        {{/if}}
    </button>
</template>
<!--Print-->
<template name="dental_registerPrintAction">
    {{#tabularAction icon="print"}}
        <li><a style="cursor: pointer" class="treatmentPrintAction">{{fa "medkit"}} Treatment</a></li>
        <li><a style="cursor: pointer" class="invoiceReportPrintAction">{{fa "money"}} Invoice</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="dental_registerInsert">
    {{#autoForm collection=Dental.Collection.Register id="dental_registerInsert" type="insert" afFieldInput-placeholder="schemaLabel"}}
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Register Info</div>
                    <div class="panel-body">
                        {{> afQuickField name="registerDate"}}

                        <div class="form-group{{#if afFieldIsInvalid name='patientId'}} has-error{{/if}}"
                             data-required="true">
                            <label class="control-label" for="patientId">Patient</label>

                            <div class="input-group  select2-bootstrap-append">
                                {{> afFieldInput name='patientId'  class='patientId'}}
                                <span class="input-group-btn">
                                    <a href="#" class="patientAddon btn btn-default">
                                        {{fa "plus"}}
                                    </a>
                                </span>
                            </div>
                            {{#if afFieldIsInvalid name='patientId'}}
                                <span class="help-block">{{afFieldMessage name='patientId'}}</span>
                            {{/if}}
                        </div>

                        {{> afQuickField name="des" rows=5}}
                    </div>
                </div>

            </div>

            <div class="col-md-9">
                <!--Disease Item-->
                {{> afArrayField name="disease" id="disease" template="customArrayFieldInvoiceForDiseaseItem" subtemplate="customObjectFieldInvoiceForDiseaseItem"}}

                <div class="row">
                  <div class="col-sm-6">
                    <!--Labo Expense-->
                    {{> afArrayField name="laboExpense" id="laboExpense" template="customArrayFieldInvoiceForLaboExpense" subtemplate="customObjectFieldInvoiceForLaboExpense"}}
                  </div>
                  <div class="col-sm-6">
                    <!--Doctor Share-->
                    {{> afArrayField name="doctorShare" id="doctorShare" template="customArrayFieldInvoiceForDoctorShare" subtemplate="customObjectFieldInvoiceForDoctorShare"}}
                  </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                    <button type="submit" class="btn btn-info" id="saveAndPrint">{{fa "floppy-o"}} Save & Print</button>
                    <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
                </div>
            </div>

        </div>
    {{/autoForm}}
</template>

<!--Update-->

<template name="dental_registerUpdate">
    {{#autoForm collection=Dental.Collection.Register id="dental_registerUpdate" doc=this type="update" afFieldInput-placeholder="schemaLabel"}}
        <div class="row">
            <div class="col-md-3">
                <!-- Register info-->
                <div class="panel panel-default">
                    <div class="panel-heading">Register Info</div>
                    <div class="panel-body">
                        {{> afQuickField name="registerDate"}}
                        <div class="form-group{{#if afFieldIsInvalid name='patientId'}} has-error{{/if}}"
                             data-required="true">
                            <label class="control-label" for="patientId">Patient</label>

                            <div class="input-group  select2-bootstrap-append">
                                {{> afFieldInput name='patientId'  class='patientId'}}
                                <span class="input-group-btn">
                                <a href="#" class="patientAddon btn btn-default">
                                    {{fa "plus"}}
                                </a>
                            </span>
                            </div>
                            {{#if afFieldIsInvalid name='patientId'}}
                                <span class="help-block">{{afFieldMessage name='patientId'}}</span>
                            {{/if}}
                        </div>
                        {{> afQuickField name="des"}}
                    </div>
                </div>

                {{> dental_treatmentInfo registerId=_id}}
                {{> dental_appointmentInfo registerId=_id}}
                {{> dental_depositInfo registerId=_id}}
            </div>

            <div class="col-md-9">
                <!--Disease Item-->
                {{> afArrayField name="disease" id="disease" template="customArrayFieldInvoiceForDiseaseItem" subtemplate="customObjectFieldInvoiceForDiseaseItem"}}

                <div class="row">
                    <div class="col-sm-6">
                      <!--Labo Expense-->
                      {{> afArrayField name="laboExpense" id="laboExpense" template="customArrayFieldInvoiceForLaboExpense" subtemplate="customObjectFieldInvoiceForLaboExpense"}}
                    </div>
                    <div class="col-sm-6">
                      <!--Doctor Share-->
                      {{> afArrayField name="doctorShare" id="doctorShare" template="customArrayFieldInvoiceForDoctorShare" subtemplate="customObjectFieldInvoiceForDoctorShare"}}
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Update</button>
                    <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
                </div>
            </div>

        </div>
    {{/autoForm}}
</template>

<!--dental-registerStatus-->
<template name="dental_registerClosingDate">
    <div class="row">
        <div class="col-md-12">
            {{#autoForm collection=Dental.Collection.Register id="dental_registerClosingDate" doc=this type="update" afFieldInput-placeholder="schemaLabel"}}
                <div class="row">

                    <div class="col-md-12">
                        {{> afQuickField name="closingDate"}}
                        {{> afFieldInput type="hidden"  name="status" }}
                    </div>

                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                    <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
                </div>
            {{/autoForm}}
        </div>
    </div>
</template>

<!--show-->
<template name="dental_registerShow">
    <dl class="dl-horizontal">
        <fieldset>
            <legend>Register</legend>
            <dt>ID</dt>
            <dd>{{_id}}</dd>
            <dt>Register Date</dt>
            <dd>{{registerDate}}</dd>
            <dt>Sub Total</dt>
            <dd>{{subTotal}}</dd>
            <dt>Deposit</dt>
            <dd>{{deposit}}</dd>
            <dt>Sub Discount</dt>
            <dd>{{subDiscount}}</dd>
            <dt>Total</dt>
            <dd>{{total}}</dd>
            <dt>Doctor</dt>
            <dd>{{doctor}}</dd>
            <dt>Doctor Share Total</dt>
            <dd>{{doctorShareTotal}}</dd>
            <dt>Labo Expense Total</dt>
            <dd>{{laboExpenseTotal}}</dd>
            <dt>Status</dt>
            <dd>{{status}}</dd>
            <dt>Closed Date</dt>
            <dd>{{closingDate}}</dd>
            <dt>Description</dt>
            <dd>{{des}}</dd>
        </fieldset>

        <fieldset>
            <legend>Patient</legend>
            <dt>Patient ID</dt>
            <dd>{{patientId}}</dd>
            {{#with _patient}}
                <dt>Name</dt>
                <dd>{{name}}</dd>
                <dt>Gender</dt>
                <dd>{{gender}}</dd>
                <dt>Age</dt>
                <dd>{{age}}</dd>
                <dt>Address</dt>
                <dd>{{address}}</dd>
                <dt>Telephone</dt>
                <dd>{{telephone}}</dd>
                <dt>History</dt>
                <dd>{{historyVal}}</dd>
                <dt>Member</dt>
                <dd>{{member}}</dd>
                <dt>Description</dt>
                <dd>{{{des}}}</dd>
                <dt>Photo</dt>
                <dd>{{lightbox url=photoUrl title=name}}</dd>
            {{/with}}
        </fieldset>
    </dl>
</template>

<!--Custom array field for disease item-->
<template name="afArrayField_customArrayFieldInvoiceForDiseaseItem">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{fa "stethoscope"}} {{afFieldLabelText name=this.atts.name}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2-custom">
                    <p><b></b></p>
                </div>
                <div class="col-md-4-custom">
                    <p><b>Disease Item</b><span style="color:red">*</span></p>
                </div>
                <div class="col-md-1">
                    <p><b>Qty</b><span style="color:red">*</span></p>
                </div>
                <div class="col-md-2">
                    <p><b>Price</b><span style="color:red">*</span></p>
                </div>
                <div class="col-md-2">
                    <p><b>Discount (%)</b><span style="color:red">*</span></p>
                </div>
                <div class="col-md-2">
                    <p><b>Amount</b><span style="color:red">*</span></p>
                </div>
            </div>

            {{#if afFieldIsInvalid name=this.atts.name}}
                <div class="has-error">
                    <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
                </div>
            {{/if}}

            {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row array-item" id="register">
                    <!--Remove-->
                    <div class="col-sm-2-custom">
                        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}

                            <div class="btn-group" role="group">
                              <button type="button" class="btn btn-sm btn-danger autoform-remove-item btnRemove">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <button type="button" class="btn btn-sm btn-success btnFree">
                              <span class="glyphicon glyphicon-gift"></span>
                          </button>
                          <button type="button" class="btn btn-sm btn-warning btnNonFree">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                          </div>
                        {{/if}}
                    </div>

                    {{> UI.dynamic template=../atts.subtemplate}}
                </div>
            {{/afEachArrayItem}}

            {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row">
                    <!--Add more-->
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary autoform-add-item btn-sm btnAdd"
                                data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}"
                                data-autoform-maxCount="{{this.atts.maxCount}}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>

                    <div class="col-sm-11">
                        <hr>
                    </div>
                </div>

            {{/if}}

            <div class="row">
                <!--Sub Total-->
                <div class="col-sm-3">
                    {{> afQuickField name='subTotal' readonly="true" template="bootstrap3" class="input-sm"}}
                </div>
                <!--Deposit-->
                <div class="col-sm-3">
                    {{> afQuickField name='deposit' readonly="true" template="bootstrap3" class="input-sm"}}
                </div>
                <!--Sub Discount-->
                <div class="col-sm-2">
                    {{> afQuickField name='subDiscount' id="subDiscountRegister" template="bootstrap3" class="input-sm"}}
                </div>
                <!--Total-->
                <div class="col-sm-3">
                    {{> afQuickField name='total' readonly="true" id="totalRegister" template="bootstrap3" class="input-sm"}}
                    <!--<p class="bg-primary"><strong class="total">0</strong></p>-->
                </div>
            </div>
        </div>
    </div>
</template>

<!--Custom object field for disease item-->
<template name="customObjectFieldInvoiceForDiseaseItem">
    <div class="col-sm-4-custom">
        {{> afQuickField name=current.item template="bootstrap3" label=false class="input-sm item"}}
    </div>
    <div class="col-sm-1">
        {{> afQuickField name=current.qty template="bootstrap3" label=false class="input-sm qty"}}
    </div>
    <div class="col-sm-2">
        {{> afQuickField name=current.price template="bootstrap3" label=false class="input-sm price" readonly=true}}
    </div>
    <div class="col-sm-2">
        {{> afQuickField name=current.discount template="bootstrap3" label=false class="input-sm discount"}}
    </div>
    <div class="col-sm-2">
        {{> afQuickField name=current.amount template="bootstrap3" label=false class="input-sm amount" readonly=true}}
    </div>
</template>

<!--Custom array field for doctor share-->
<template name="afArrayField_customArrayFieldInvoiceForDoctorShare">
    <div class="panel panel-default">
        <div class="panel-heading">
          {{fa "user-plus"}} {{afFieldLabelText name=this.atts.name}}
          <span class="label label-primary pull-right" style="font-size:14px">Sharing Remain {{fa "angle-double-right fa-1"}} {{sharingRemain}}</span>
        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-md-1">
                    <p><b></b></p>
                </div>
                <div class="col-md-6">
                    <p><b>Doctor</b></p>
                </div>
                <div class="col-md-5">
                    <p><b>Amount</b></p>
                </div>
            </div>

            {{#if afFieldIsInvalid name=this.atts.name}}
                <div class="has-error">
                    <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
                </div>
            {{/if}}

            {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row array-item">
                    <div class="col-sm-1">
                        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
                            <button type="button"
                                    class="btn btn-sm btn-danger autoform-remove-item btnRemoveForDoctorShare">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        {{/if}}
                    </div>

                    {{> UI.dynamic template=../atts.subtemplate}}
                </div>
            {{/afEachArrayItem}}

            {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row">
                    <!--Add more-->
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary autoform-add-item btn-sm btnAddForDoctorShare"
                                data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}"
                                data-autoform-maxCount="{{this.atts.maxCount}}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>

                    <div class="col-sm-6 text-right">
                        <strong>Total:</strong>
                    </div>

                    <!--Total-->
                    <div class="col-sm-5">
                        {{> afQuickField name='doctorShareTotal' label=false readonly="true" template="bootstrap3" class="input-sm doctorShareTotal"}}
                    </div>

                </div>

            {{/if}}

        </div>
    </div>
</template>

<!--Custom object field for doctor share-->
<template name="customObjectFieldInvoiceForDoctorShare">
    <div class="col-sm-6">
        {{> afQuickField name=current.doctor template="bootstrap3" label=false class="input-sm doctor"}}
    </div>
    <div class="col-sm-5">
        {{> afQuickField name=current.amount template="bootstrap3" label=false class="input-sm doctorShareAmount"}}
    </div>
</template>

<!--Custom array field for labo expense-->
<template name="afArrayField_customArrayFieldInvoiceForLaboExpense">
    <div class="panel panel-default">
        <div class="panel-heading">{{fa "user-plus"}} {{afFieldLabelText name=this.atts.name}}</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-1">
                    <p><b></b></p>
                </div>
                <div class="col-md-6">
                    <p><b>Laboratory</b></p>
                </div>
                <div class="col-md-5">
                    <p><b>Amount</b></p>
                </div>
            </div>

            {{#if afFieldIsInvalid name=this.atts.name}}
                <div class="has-error">
                    <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
                </div>
            {{/if}}

            {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row array-item">
                    <div class="col-sm-1">
                        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
                            <button type="button"
                                    class="btn btn-sm btn-danger autoform-remove-item btnRemoveForLaboExpense">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        {{/if}}
                    </div>

                    {{> UI.dynamic template=../atts.subtemplate}}
                </div>
            {{/afEachArrayItem}}

            {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row">
                    <!--Add more-->
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary autoform-add-item btn-sm btnAddForDoctorShare"
                                data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}"
                                data-autoform-maxCount="{{this.atts.maxCount}}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>

                    <div class="col-sm-6 text-right">
                        <strong>Total:</strong>
                    </div>

                    <!--Total-->
                    <div class="col-sm-5">
                        {{> afQuickField name='laboExpenseTotal' label=false readonly="true" template="bootstrap3" class="input-sm laboExpenseTotal"}}
                    </div>
                </div>

            {{/if}}

        </div>
    </div>
</template>

<!--Custom object field for doctor share-->
<template name="customObjectFieldInvoiceForLaboExpense">
    <div class="col-sm-6">
        {{> afQuickField name=current.laboratory template="bootstrap3" label=false class="input-sm laboratory"}}
    </div>
    <div class="col-sm-5">
        {{> afQuickField name=current.amount template="bootstrap3" label=false class="input-sm laboAmount"}}
    </div>
</template>
