<!--Index-->
<template name="clinic_expenseType">
    <p>
        <button type="button" class="btn btn-primary insert">{{fa "plus"}} Add New</button>
    </p>
    {{> tabular table=Clinic.TabularTable.expenseType class="table table-striped table-bordered table-condensed table-hover"}}
</template>

<!--Action-->
<template name="clinic_expenseTypeAction">
    {{#tabularAction}}
        <li><a href="#" class="update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="clinic_expenseTypeInsert">
    {{#autoForm collection=Clinic.Collection.expenseType id="clinic_expenseTypeInsert" type="insert"}}
        <div class="row">
            <div class="col-md-6">
                {{> afQuickField name="name"}}
            </div>
            <div class="col-md-6">
                {{> afQuickField name="des"}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<!--Update-->
<template name="clinic_expenseTypeUpdate">
    {{#autoForm collection=Clinic.Collection.expenseType id="clinic_expenseTypeUpdate" doc=this type="update" }}
        <div class="row">
            <div class="col-md-6">
                {{> afQuickField name="name"}}
            </div>
            <div class="col-md-6">
                {{> afQuickField name="des"}}
            </div>
            <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
            <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
        </div>
    {{/autoForm}}
</template>

<!--Show-->
<template name="clinic_expenseTypeShow">
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{_id}}</dd>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Description</dt>
        <dd>{{des}}</dd>
    </dl>
</template>