.panel-custom{
    margin-top: 25px;

}
.panel-title-custom{
    font-size: 29px;
}

/*Custom*/
.navbar-nav > .messages-menu {
  position: relative;
}
.navbar-nav > .messages-menu > .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0!important;
  margin: 0!important;
  top: 100%;
}
.navbar-nav > .messages-menu > .dropdown-menu > li{
  position: relative;
}
.navbar-nav > .messages-menu > .dropdown-menu > li.header{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444!important;
  text-align: center;
}
@media (max-width: 991px) {
  .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a{
    background: #fff!important;
    color: #444!important;
  }
}
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover{
  text-decoration: none;
  font-weight: normal;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a{
  display: block;
  white-space: nowrap;
  /* Prevent text from breaking */
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover{
  background: #f4f4f4;
  text-decoration: none;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
  margin: 0px;
  padding: 10px 10px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
  position: relative;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  content: " ";
  display: table;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  clear: both;
}

/*Custom label*/
.navbar .nav > li > a > .label {
  position: absolute;
  top: 9px;
  right: 7px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9;
}

/*Multi lv drop down*/

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* space li for help in register*/
.space-li{
  margin-bottom: 5px;
}

/*border Image*/
.border-img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 1px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #555555;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/*custom style td*/
.td-custom{
  text-align: center;
}

/*custom style No*/
.index-style,.qty-style{
  width: 10px;
}

/*custom style items*/
.items-style{
  width: 40%;
  text-align:left;
}

/*custom style discount*/
.dis-style{
  width: 42px;
}

/*custom style treatmentDate*/
.treatment-date-style{
  width: 125px;
}

/*custom style doctor*/
.doctor-style{
  width: 150px;
}

/*header style*/
.header-style {
  width: 305px;
}


/*custom td patient history*/
.td-cus-style{
  width: 25%;
}

/*Custom Columns*/
.col-sm-2-custom,.col-md-2-custom {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 14%;
}
@media (min-width: 768px) {
  .col-sm-2-custom ,.col-md-2-custom{
    float: left;
    width: 14%;
  }
  }

  .col-sm-4-custom,.col-md-4-custom {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 27%;
  }
  @media (min-width: 768px) {
    .col-sm-4-custom ,.col-md-4-custom{
      float: left;
      width: 27%;
    }
    }
