<!--Index-->
<template name="dental_diseaseItem">
    <div class="animated bounceInRight">
        <p>
            <button type="button" class="btn btn-primary insert">{{fa "plus"}} Add New</button>
        </p>

        {{> tabular table=Dental.TabularTable.DiseaseItem class="table table-striped table-bordered table-condensed table-hover"}}
    </div>
</template>

<!--Action-->
<template name="dental_diseaseItemAction">
    {{#tabularAction}}
        <li><a href="#" class="update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="dental_diseaseItemInsert">
    {{#autoForm collection=Dental.Collection.DiseaseItem id="dental_diseaseItemInsert" type="insert"}}
        <div class="row">
            <div class="col-md-6">

                <div class="form-group{{#if afFieldIsInvalid name='diseaseCategoryId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="diseaseCategoryId">Disease Category</label>

                    <div class="input-group select2-bootstrap-append">
                        {{> afFieldInput name='diseaseCategoryId'}}
                        <span class="input-group-btn">
                            <a href="#" class="diseaseCategoryAddon btn btn-default">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='diseaseCategoryId'}}
                        <span class="help-block">{{afFieldMessage name='diseaseCategoryId'}}</span>
                    {{/if}}
                </div>

                {{> afQuickField name='code'}}
                {{> afQuickField name='name'}}
            </div>
            <div class="col-md-6">

                <div class="form-group{{#if afFieldIsInvalid name='price'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="price">Price</label>

                    <div class="input-group">
                        {{> afFieldInput name='price'}}
                        <span class="input-group-addon">USD</span>
                    </div>
                    {{#if afFieldIsInvalid name='price'}}
                        <span class="help-block">{{afFieldMessage name='price'}}</span>
                    {{/if}}
                </div>

                <div class="form-group{{#if afFieldIsInvalid name='memberPrice'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="memberPrice">Member Price</label>

                    <div class="input-group">
                        {{> afFieldInput name='memberPrice'}}
                        <span class="input-group-addon">USD</span>
                    </div>
                    {{#if afFieldIsInvalid name='memberPrice'}}
                        <span class="help-block">{{afFieldMessage name='memberPrice'}}</span>
                    {{/if}}
                </div>

            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<!--Update-->
<template name="dental_diseaseItemUpdate">

    {{#autoForm collection=Dental.Collection.DiseaseItem id="dental_diseaseItemUpdate" doc=this type="update"}}
        <div class="row">
            <div class="col-md-6">

                <div class="form-group{{#if afFieldIsInvalid name='diseaseCategoryId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="diseaseCategoryId">Disease Category</label>

                    <div class="input-group select2-bootstrap-append">
                        {{> afFieldInput name='diseaseCategoryId'}}
                        <span class="input-group-btn">
                            <a href="#" class="diseaseCategoryAddon btn btn-default">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='diseaseCategoryId'}}
                        <span class="help-block">{{afFieldMessage name='diseaseCategoryId'}}</span>
                    {{/if}}
                </div>

                {{> afQuickField name='code'}}
                {{> afQuickField name='name'}}
            </div>
            <div class="col-md-6">

                <div class="form-group{{#if afFieldIsInvalid name='price'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="price">Price</label>

                    <div class="input-group">
                        {{> afFieldInput name='price'}}
                        <span class="input-group-addon">USD</span>
                    </div>
                    {{#if afFieldIsInvalid name='price'}}
                        <span class="help-block">{{afFieldMessage name='price'}}</span>
                    {{/if}}
                </div>

                <div class="form-group{{#if afFieldIsInvalid name='memberPrice'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="memberPrice">Member Price</label>

                    <div class="input-group">
                        {{> afFieldInput name='memberPrice'}}
                        <span class="input-group-addon">USD</span>
                    </div>
                    {{#if afFieldIsInvalid name='memberPrice'}}
                        <span class="help-block">{{afFieldMessage name='memberPrice'}}</span>
                    {{/if}}
                </div>

            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}

</template>

<!--Show-->
<template name="dental_diseaseItemShow">
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{_id}}</dd>
        <dt>Category</dt>
        <dd>{{_diseaseCategory.code}}</dd>
        <dt>Code</dt>
        <dd>{{code}}</dd>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Price</dt>
        <dd>{{price}}</dd>
        <dt>Member Price</dt>
        <dd>{{memberPrice}}</dd>
    </dl>
</template>
